* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1235px;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #191919;
}

.button-purple {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b61984;
  border: 1px solid #b61984;
  color: white;
  font-weight: 300;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 14px;
}
.button-purple:hover {
  background-color: white;
  color: #b61984;
  box-shadow: 0 0 1px #b61984 inset;
  transition: 0.3s;
}

header {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}
header nav {
  height: 80px;
}
header nav a img {
  width: 80px;
  height: 80px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 220px;
}
header nav ul li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  margin-left: 50px;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:hover {
  color: #b61984;
}
header nav ul li .phone-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
header nav ul li .social a {
  margin-left: 10px;
}

.about__us {
  background-image: url("../images/yellow_top_wave_01.png"), url("../images/Violet_top_left_wave.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: top left, left bottom;
}
.about__us .aboutus__content {
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.about__us .aboutus__content .ab-left h4 {
  font-size: 18px;
  color: #b61984;
  font-weight: 600;
}
.about__us .aboutus__content .ab-left h1 {
  font-size: 60px;
  color: #191919;
  font-weight: 600;
}

.staffs {
  background: #dcd1f3;
  background-image: url("../images/Wave_White_bottom_right_shape_01.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.staffs .staffs__content {
  padding: 20px 0;
  margin: -10px;
}
.staffs .staffs__content .column .card {
  border: transparent;
  border-radius: 20px;
}
.staffs .staffs__content .column .card .img-container {
  overflow: hidden;
}
.staffs .staffs__content .column .card .img-container img {
  transition: transform 0.9s ease;
}
.staffs .staffs__content .column .card .img-container:hover img {
  transform: scale(1.1);
}
.staffs .staffs__content .column .card .card-body {
  background: white;
  text-align: center;
}
.staffs .staffs__content .column .card .card-body span {
  font-size: 14px;
  color: #b61984;
}
.staffs .staffs__content .column .card .card-body h5 {
  color: #191919;
  font-weight: 700;
  font-size: 25px;
}
.staffs .staffs__content .column .card .card-body p {
  color: #191919;
}
.staffs .staffs__content .column .card:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  transition: all 1s;
}
@media screen and (max-width: 600px) {
  .staffs .staffs__content .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.staffs .row:after {
  content: "";
  display: table;
  clear: both;
}

.course {
  background-image: url("../images/accent_bottom_wave_01.png");
  background-repeat: no-repeat;
  background-size: 105% 75%;
  background-position: left bottom;
  padding: 100px 0;
}
.course .course-content {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course .course-content .course-right .card {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
  border: transparent;
  border-radius: 10px;
}
.course .course-content .course-right .card .card-header {
  text-align: center;
  background-color: white;
  border-bottom: none;
}
.course .course-content .course-right .card .card-header .card-title {
  font-size: 40px;
  font-weight: 700;
}
.course .course-content .course-right .card .card-body .input-icon {
  position: relative;
}
.course .course-content .course-right .card .card-body .input-icon i {
  position: absolute;
  top: 0;
  padding: 10px;
  min-width: 40px;
  color: #b61984;
  font-size: 14px;
}
.course .course-content .course-right .card .card-body .input-icon input, .course .course-content .course-right .card .card-body .input-icon select {
  padding-left: 30px;
  border-radius: 20px;
  color: #191919;
}
.course .course-content .course-right .card .card-body .input-icon .message {
  width: 100%;
  padding-left: 30px;
  border-radius: 20px;
  color: #191919;
}
.course .course-content .course-right .card .card-footer {
  background-color: white;
  border-top: none;
}
.course .course-content .course-right .card .card-footer a {
  width: 30%;
  text-align: center;
  font-weight: 600;
}

.footer {
  background-image: url("../images/footer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 115%;
  padding-bottom: 17em;
}
.footer .container .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-content .footer-item {
  color: white;
  font-size: 14px;
}
.footer .container .footer-content .footer-item h4 {
  font-weight: 600;
}
.footer .container .footer-content .footer-item a {
  text-decoration: none;
  color: white;
}
.footer .container .footer-content .footer-item i {
  padding-right: 10px;
}
.footer .container .footer-content .footer-item input {
  background-color: #b61984;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.footer .container .footer-content .footer-item .btn-sub {
  background-color: white;
  color: #191919;
}
.footer .container .footer-content .footer-item .btn-sub:hover {
  background-color: #b61984;
  border: 1px solid white;
  color: white;
}
.footer .container .footer-content .footer-item li {
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */