header{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;

    nav{
    height: 80px;

        a{
            img{
                width: 80px;
                height: 80px;
            }
        }
        ul{
            @include row(flex,center, center);
            font-size: $font-xs;
            margin-left: 220px;
            li{
                    text-decoration: none;
                    list-style-type: none;
                    
                    font-weight:600;
                    margin-left: 50px;
                a{
                    text-decoration: none;
                    &:hover{
                        color: $secondary-color;
                    }
                }
                .phone-social{
                    @include row(flex,space-between, center);
                    margin-left: 10px;     
                    }
                    .social{
                        a{
                            margin-left: 10px;
                        }
                    }
                }
            }
            
        }
    }
