.staffs{
    background: $bg-gray;
    background-image: url("../images/Wave_White_bottom_right_shape_01.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    .staffs__content{
        justify-content: center;
        .card{
            padding: 20px 20px;
            width: 280px;
            text-align: center;
            background: $bg-gray;
            border: 1px solid $bg-gray;
            border-radius: 20px;
                .img-container{
                    overflow: hidden;
                    img{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        transition: transform .9s ease;
                    }
                    &:hover img{
                        transform: scale(1.1);

                    }
                        
                }  
                .card-body{
                    background: white;
                }
            }
        }
    }
