.staffs{
    background: $bg-gray;
    background-image: url("../images/Wave_White_bottom_right_shape_01.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    .staffs__content{
        padding: 20px 0;
        margin: -10px;

        .column{
            
        .card{
            border: transparent;
            border-radius: 20px;
                .img-container{
                    overflow: hidden;
                    img{
                        transition: transform .9s ease;
                    }
                    &:hover img{
                        transform: scale(1.1);

                    }
                        
                }  
                .card-body{
                    background: white;
                    text-align: center;
                    span{
                        font-size: $font-xs;
                        color: $secondary-color;
                    }
                    h5{
                        color: $primary-color;
                        font-weight: 700;
                        font-size: $font-md;
                    }
                    p{
                        color: $primary-color;
                    }
                }
                &:hover{
                    box-shadow: 0 0 20px rgba(33,33,33,.2); 
                    transition:all 1s;
                }
            }
        }
        @media screen and (max-width: 600px) {
            .column {
              width: 100%;
              display: block;
              margin-bottom: 20px;
            }
          }
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
}
